<<<<<<< HEAD
header {
    background-color: #FF0000;
    height: 70px;
    width: 100%;
} 
=======
.heading {
    background-color: #FF0000; 
    height: 70px; width: 100%;
}
>>>>>>> c557ecbf2da6ea15919b57dd5e5fe4e56f981ea6
